*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background:rgb(255, 51, 0);
    color: aliceblue;
    text-decoration: none;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    flex-direction: column;
}

label{
    margin: 5px;
    padding: 10px;
    width: 300px;
    align-items: start;
    display: flex;
    justify-content: space-between;
}
button{
    padding:5px 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.booking-items{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking-items input{
    padding: 5px 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}   